<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <div class="welcome-section">  
            <h1>Bienvenido</h1>
            <p>Elija una opción:</p>
        </div>

        <div class="links">
            <a class="button" href="{{ url_for('neural_network') }}">Red Neuronal</a>
            <a class="button" href="{{ url_for('mea_interpolation') }}">Interpolación de MEA</a>
        </div>

    </div>
</body>
</html>